header,article {
    text-align: center;
}

.color-red {
    color: red;
    font-size: 35px;
    font-family: Verdana, Tahoma, sans-serif;
}

.background {
    background-color: rgba(195, 169, 133, 0.723);
    
}

ol,ul {
    list-style-position: inside;
}

.font-size-p {
    font-size: 18px;

}