
body {
    margin: 8px;
}


.center {
    text-align: center;
    
}

.arka-plan {
    background-color: #EEEEEE;
}


.box-left {
    background-color: #7EE5DA;
    width: 35.6%;
    height: 62px;
    float: left;
    padding: 10px;
    margin: 2px 2px 0 0;
    
}

.box-middle {
    background-color: #70CCC2;
    font-size: small;
    width: 22%;
    height: 82px;
    float: left;
    margin: 2px 2px 0 0;
}

.box-right{
    background-color: #62B3AA;
    width: 40.60%;
    height: 82px;
    float: left;
    margin-top: 2px;
}

.small-font{
    font-size: small;
    padding-top: 100px;
}

.size-elements {
    width: 90%;
    margin: auto;
}
